#admin{

	.content{

		h1{
			font-size: 3.2em;
			font-weight: bold;
			text-shadow: 2px 2px #333333;
			margin-bottom: 20px;
			text-align: center;

		}

		.teamWrap:last-child{

			margin-right: 0;
		}

		.teamWrap{
			float: left;
			margin-right: 8px;
			word-wrap: break-word;

			.imgWrap{
				padding: 5px;
				background-color: rgba(0,0,0, 0.2);
				display: block;
				height: 111px;
				width: 111px;

				img{
					margin: 0;
					vertical-align: middle;
				}
			}

			h3{
				text-align: center;
				font-size: 1.1em;
				width: 121px;
				height: 30px;
				margin-bottom: 5px;
			}
			h4{
				font-size: 0.9em;
				margin: 5px 0;

				.label{
					display: inline-block;
					width: 80px;
				}
			}

			ul{

				//margin-left: 10px;
				//list-style: decimal;
				font-size: 0.8em;

				li{
					width: 111px;
					white-space: normal;
					word-wrap: break-word;
				}

				li.latest{
					background-color: #5AD96A;
					color: #000000;
					text-align: center;
    				box-shadow: 0 0 20px rgba(138,217,143,0.8); 
				}
			}
		}

	}

}