.content{

	h1{
		font-size: 3em;
		font-weight: bold;
		text-shadow: 2px 2px #333333;
		margin-bottom: 20px;
		text-align: center;

	}

}
.playerWrap{

	float: left;
	width: 300px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	padding: 5px;
	height: 480px;
	margin: 0 47px 0 0;
	color: #666666;

	h2{
		font-size: 1.8em;
		color: #FFFFFF;
		text-shadow: 1px 2px rgba(0, 0, 0, 0.7);
		margin-bottom: 5px;
		font-weight: bold;
		padding:5px 0 10px 0;
		border-bottom: 1px dotted #CCCCCC;
	}

}

#team{

	.teamWrap{

		.teamDetail{

			border-bottom: 1px dotted #CCCCCC;
			padding: 3px 0;

			.imageWrap{
				display: block;
				text-align: center;
				border-bottom: 1px dotted #CCCCCC;
				padding:5px 0;
			}

			h4{
				color: #FFFFFF;
				font-size: 1.3em;
				line-height: 1.6em;

				.label{
					display: inline-block;
					width: 100px;

				}

			}
		}

		.formWrap{

			padding:5px 0;
			color: #FFFFFF;

			h4{
				padding: 5px 0;
				font-style: italic;
				font-size: 1.2em;
			}

			li#player_name{

				.value{

					font-size: 1.4em;
					font-weight: bold;
					color: #F2802B;
				}
			}

			li{

				padding:5px 0;

				.label{
					display: inline-block;
					width: 70px;
				}

				.value{

					font-weight: bold;

				}

			}

			.form{

				border-top: 1px dotted #CCCCCC;
				text-align: right;
				margin-top: 5px;
			}
		}

	}

}

#team-player{

	li{

		text-shadow: 0 1px rgba(255, 255, 255, 0.5);
		display: block;
		padding: 5px 10px;
		border: 1px solid #666666;
		margin-bottom: 1px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #CCCCCC; 

		.position{

			display: inline-block;
			width: 30px;

		}

	} 

	.droppable{
		margin-bottom: 5px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #999999;
		background-color: rgba(0,0,0, 0.1);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
		height: 25px;

		div{

			height: 25px;
			line-height: 25px;
			color: #FFFFFF;
			text-align: center;
			font-weight: bold;
			text-shadow: 1px 1px rgba(0,0,0, 0.3);

		}

	}

	.dropit{

		border: 1px solid #EEEEEE !important;
		background-color: rgba(255, 255, 255, 0.2) !important;
		box-shadow: 0 0 4px rgba(255, 255, 255, 0.7) !important;

		div{

			color: #333333 !important;
			text-shadow: 1px 1px rgba(255, 255, 255, 0.3) !important;
		}

	}

}



#all-player{

	margin-right:0;

	.searchWrap{

		padding-bottom: 5px;
		color: #FFFFFF;

		label{
			width: 45px;
		}

		input[type="text"]{
			width: 175px;
		}

		#clear-searh{
			border-color: #333333;
		}

	}

	#player-list{

		display: block;
		overflow: auto;

		li{

			text-shadow: 0 1px rgba(255, 255, 255, 0.5);
			display: block;
			padding: 7px 10px;
			border: 1px solid #666666;
			margin-bottom: 1px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			/* fallback */ 
			background-color: #DDDDDD; 
			background: url(images/linear_bg_2.png); 
			background-repeat: repeat-x; /* Safari 4-5, Chrome 1-9 */ 
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#CCCCCC)); /* Safari 5.1, Chrome 10+ */ 
			background: -webkit-linear-gradient(top, #EEEEEE, #CCCCCC); /* Firefox 3.6+ */ 
			background: -moz-linear-gradient(top, #EEEEEE, #CCCCCC); /* IE 10 */ 
			background: -ms-linear-gradient(top, #EEEEEE, #CCCCCC); /* Opera 11.10+ */ 
			background: -o-linear-gradient(top, #EEEEEE, #CCCCCC);
			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 2px rgba(0, 0, 0, 0.2);

			.position{

				display: inline-block;
				width: 30px;

			}

		}

		li:hover{

			cursor: move;
			background-color: #DDDDDD; 
			background: url(images/linear_bg_2.png); 
			background-repeat: repeat-x; /* Safari 4-5, Chrome 1-9 */ 
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#AAAAAA)); /* Safari 5.1, Chrome 10+ */ 
			background: -webkit-linear-gradient(top, #CCCCCC, #AAAAAA); /* Firefox 3.6+ */ 
			background: -moz-linear-gradient(top, #CCCCCC, #AAAAAA); /* IE 10 */ 
			background: -ms-linear-gradient(top, #CCCCCC, #AAAAAA); /* Opera 11.10+ */ 
			background: -o-linear-gradient(top, #CCCCCC, #AAAAAA);
			border: 1px solid #333333;

		}

		li.drafted, li.drafting{

			display: none !important;

		}

	}
}


/*=========================================
	jquery related Styles
=========================================*/

.ui-draggable-dragging{

	box-shadow: -2px 0 5px #999999;
    opacity: 0.6;
}