/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*=========================================
	SASS default variables
=========================================*/
$margin: 15px;
$font-size: 12px;
$background_color:#000000;
$content_width: 1024px;

/* ========================================
	Links
=========================================*/

a{
	color:#1273A6;
	text-decoration: none;
}

a:hover, a:active { outline: 0; }

/*=========================================
	default site styles
=========================================*/
.formWrap h2{
	font-size: 2em;
	color: #F2802B;
	text-shadow: 1px 2px rgba(130, 42, 20, 0.7);
	margin: 0 0 15px 50px;
}

.inputGroup{
	width: 342px;
	padding: 5px 50px ;
	position: relative;

	span.errorInline{
		position: absolute;
		left: 90%;
		top: 5px;
		background-color: rgba(0,0,0, 0.5);
		padding: 5px;
		white-space: nowrap !important;
	}
}

.inputGroup.action{
	text-align:right;
	font-size: 0;
}

label{
	width: 120px;
	display:inline-block;
	line-height: 25px;

}

input[type="text"],input[type="password"],textarea,select{
	border: 1px solid #333333; 
}

input[type="file"]{
	height: 25px;
	width: 222px;
}

input[type="text"],input[type="password"]{
	height: 25px;
	width: 200px;
	padding:0 10px;
}

select{
	height:27px;
	width: 222px;
	padding:3px 0 3px 10px;
}	

input:focus,textarea:focus,select:focus{
	 outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666666;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666666;
}

.btn{
	margin-left:5px;
	font-size: 12px;
	display: inline-block;
	*display:inline;
	zoom:1;
	border: 1px solid #DDDDDD;
    padding: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#666666');
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#666666));
    background: -moz-linear-gradient(top, #CCCCCC, #666666);
    background: -o-linear-gradient(top, #CCCCCC, #666666);
    text-shadow: 1px 1px #AAAAAA;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover{
	border: 1px solid #999999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#444444');
    background: -webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#444444));
    background: -moz-linear-gradient(top, #AAAAAA, #444444);
    background: -o-linear-gradient(top, #AAAAAA, #444444);
}

.btnPrimary{
	border: 1px solid #00B1F0;
	color: #DDF0F0;
    text-shadow: 1px 1px #034475;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0097CC', endColorstr='#04518C');
    background: -webkit-gradient(linear, left top, left bottom, from(#0097CC), to(#04518C));
    background: -moz-linear-gradient(top, #0097CC, #04518C);
    background: -o-linear-gradient(top, #0097CC, #04518C);
}

.btnPrimary:hover{
	border: 1px solid #0095C9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007CA8', endColorstr='#034475');
    background: -webkit-gradient(linear, left top, left bottom, from(#007CA8), to(#034475));
    background: -moz-linear-gradient(top, #007CA8, #034475);
    background: -o-linear-gradient(top, #007CA8, #034475);
}

.error,.alert{
	color: #FF685D;
	font-style: italic;
	font-size: 0.9em;
}

.alert{
	color: #E3BE65;
}

.inputError{
	display:block;
	text-align: right;
}

/*=========================================
	Main Styles
=========================================*/
body {
	background:$background_color url('/fantasy/jcifantasy/images/main-bg.png') no-repeat center top;
	font-family: arial;
	font-size: $font-size;
	line-height: 1.3em;
	color: #FFFFFF;
}

.mainContent{
	width: $content_width;
	margin: ($margin - 5) auto $margin auto;

	header{
		margin-bottom: 30px;

		nav{
			float: left;

			ul{
				
				li{
					display: inline;

					a{
						color: #DDDDDD;
						text-decoration: none;
					}

					a:hover{
						color: #FFFFFF;
					}
				}
			}
		}

		#logo{
			display: block;
			float: right;
		}

	}

	.operation{
		margin: 10px 0;

		.searchBox{
			float: left;
			background-color: #FFFFFF;
			border: 2px solid #999999;
			-moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
		    border-radius: 3px;
		    -khtml-border-radius: 3px;
		    padding: 0;
		    overflow: hidden;

		    input{
		    	vertical-align: top;
		    	margin: 0;
		    	border: 0;
		    	height: 20px;
		    }

		    input[type="text"]{
		    	width: 200px;
		    	padding:3px 10px;
		    	-webkit-box-shadow: 
			      inset 0 0 8px  rgba(0,0,0,0),
			            0 0 16px rgba(0,0,0,0); 
			    -moz-box-shadow: 
			      inset 0 0 8px  rgba(0,0,0,0),
			            0 0 16px rgba(0,0,0,0); 
			    box-shadow: 
			      inset 0 0 8px  rgba(0,0,0,0),
			            0 0 16px rgba(0,0,0,0);
		    }

		    input[type="image"]{
		    	width: 20px;
		    	padding:3px;
		    }

			input.searchButton{
				display: none;
				visibility: hidden;
			}
		}

		.btnCreate{
			float: right;
		}
	}

	table{
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		color: #333333;
		font-size: 1.1em;
		border-top: 1px solid #666666;
		border-right: 1px solid #666666;

		td,th{

			border-left: 1px solid #666666;
			border-bottom: 1px solid #666666;
			padding: 5px;
		
		}

		th:last-child{

			width: 125px;
			
		}

		thead{

			th{
				padding-top: 10px;
				padding-bottom: 10px;
				font-weight: bold;
			}

		}

		tbody{

			td:last-child{

				text-align: center;

				a{
					font-weight: bold;
				}
			}
		}
	}


	footer{
		margin-top: $margin;
		text-align: center;
		color: #CCCCCC;
		font-size: 0.9em;
	}
}
