#read_csv{

	.content{

		h1{

			font-size: 3em;
			font-weight: bold;
			text-shadow: 2px 2px #333333;
			margin-bottom: 20px;
			text-align: center;

		}

		.saveWrap{

			text-align:right;
			margin-top:10px;

		}
	}
}

#upload_csv{

	.content{

		h1{

			font-size: 3em;
			font-weight: bold;
			text-shadow: 2px 2px #333333;
			margin-bottom: 20px;
			text-align: center;

		}
		
	}
}

#add-to-team-wrap{

	border-top: 1px dotted #FFFFFF;
	border-bottom: 1px dotted #FFFFFF;
	padding: 5px 0;
	margin-bottom: 10px;
	text-align: right;
	display: none;
	vertical-align:middle;

	label{
		display: inline-block;
		*display: inline;
		zoom:1;
		margin-right: 5px;
	}

	select{

		vertical-align:middle;
		
	}
}

.btnAdd{
	float: right;
}