#read_csv{

	.content{

		h1{

			font-size: 3em;
			font-weight: bold;
			text-shadow: 2px 2px #333333;
			margin-bottom: 20px;
			text-align: center;

		}

		.saveWrap{

			text-align:right;
			margin-top:10px;

		}
	}
}

#upload_csv{

	.content{

		h1{

			font-size: 3em;
			font-weight: bold;
			text-shadow: 2px 2px #333333;
			margin-bottom: 20px;
			text-align: center;

		}
		
	}
}